{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1>Queen</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <p>
      "Queen are a British rock band that formed in London in 1970. 
      Their classic line-up was <a href="freddiemercury.html">Freddie Mercury</a> (lead vocals and piano), 
      <a href="brianmay.html">Brian May</a> (lead guitar and vocals), <a href="rogertaylor.html">Roger Taylor</a> (drums and vocals), 
      and <a href="johndeacon.html">John Deacon</a> (bass guitar). Their earliest works were influenced by 
      progressive rock, hard rock and heavy metal, but the band gradually 
      ventured into more conventional and radio-friendly works by incorporating 
      further styles, such as arena rock and pop rock, into their music."
      <br>-from Wikipedia
    </p>
    {% for member in members %}
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/img/members/{{ member.image }}" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">{{ member.name }}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="{{ member.url }}" class="btn btn-primary">{{ member.slug }}</a>
    {% else %}
          <li>This would display if the 'members' collection were empty</li>
    {% endfor %}
  </div>
</div>


     <ul class="list-unstyled">
    <li class="media">
    {% for album in albums %}
    <img class="mr-3" src="assets/img/discs/{{ album.image }}">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{ album.title }}</h5>
      {{ album.year }}
       {% else %}
          <li>This would display if the 'discography' collection were empty</li>
        {% endfor %}
    </div>
  </li>
  </ul>
    </p>
    </div>
  </div>
</div>
{% endblock %}
