{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block content %}


<div class="container">
  <div class="row justify-content-sm-between">
    <div class="col-sm-8">
    <h1><img src="assets/img/queen-logo-black.png" width="160px" /></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-sm-between">
    <div class="col-sm-8">
    <p>
      "Queen are a British rock band that formed in London in 1970. 
      Their classic line-up was <a href="freddiemercury.html">Freddie Mercury</a> (lead vocals and piano), 
      <a href="brianmay.html">Brian May</a> (lead guitar and vocals), <a href="rogertaylor.html">Roger Taylor</a> (drums and vocals), 
      and <a href="johndeacon.html">John Deacon</a> (bass guitar). Their earliest works were influenced by 
      progressive rock, hard rock and heavy metal, but the band gradually 
      ventured into more conventional and radio-friendly works by incorporating 
      further styles, such as arena rock and pop rock, into their music."
      <br>-from Wikipedia
    </p>
    </div>
  </div>
</div> 

<div class="container">
  <div class="row align-items-start">
    <div class="col-sm-4">

    {% for member in members %}   
    <div class="container-fluid" alt="card">
        <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="assets/img/members/{{ member.imagebw }}" alt="Card image cap">
        <div class="card-body">
        <a href="{{ member.url }}" class="btn btn-outline-dark text-center">
        <h5 class="card-title">{{ member.name }}</h5></a>
        </div>
      </div>
  </div>
    {% endfor %}
    </div>
 <div class="col-sm-8 vl mb-4"> 
    {% for album in albums %}
    <div class="container-fluid">
    <div style="font-family: 'Khula', serif;">
      <div class="row justify-content-center">
        <div class="col-sm-4">
         <ul class="list-unstyled">  
          <li class="media">
          <img class="mr-3" src="assets/img/discs/{{ album.image }}">
          <div class="media-body">
          <h5 class="mt-0 mb-1">{{ album.title }}</h5>
          {{ album.year }}
          </div>
          </li>
        </ul>  
        </div>
      </div>
    </div>
  </div>
        {% endfor %}
    </div>

{% endblock %}

