{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1>Queen</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <p>
      "Queen are a British rock band that formed in London in 1970. 
      Their classic line-up was <a href="freddiemercury.html">Freddie Mercury</a> (lead vocals and piano), 
      <a href="brianmay.html">Brian May</a> (lead guitar and vocals), <a href="rogertaylor.html">Roger Taylor</a> (drums and vocals), 
      and <a href="johndeacon.html">John Deacon</a> (bass guitar). Their earliest works were influenced by 
      progressive rock, hard rock and heavy metal, but the band gradually 
      ventured into more conventional and radio-friendly works by incorporating 
      further styles, such as arena rock and pop rock, into their music."
      <br>-from Wikipedia
    </p>
      <ul> 
        {% for member in members %}
          <li>{{ member.slug }}, {{ member.name }}</li>
        {% else %}
          <li>This would display if the 'members' collection were empty</li>
        {% endfor %}
     </ul>

     <ul class="list-unstyled">
    <li class="media">
    {% for discography in discography %}
    <img class="mr-3" src="{{ discography.image }}" alt="{{ discography.image }}">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{ discography.title }}</h5>
      {{ discography.year }}
       {% else %}
          <li>This would display if the 'discography' collection were empty</li>
        {% endfor %}
    </div>
  </li>
  </ul>
    </p>
    </div>
  </div>
</div>
{% endblock %}
