h3 {
  padding-bottom: -200px;
}

.intro {
  border-color:#F5F5F5;
}

.card {
  background-color:#F5F5F5;
}

.media {
  border-color:#F5F5F5;
}

.media img {
  width: 50%;
}

.legal {
  border-color:#F5F5F5;
}

#tangerine {
  font-family: 'Tangerine', cursive;
}
#cinzel {
  font-family: 'Cinzel', serif;
}